* {
	padding: 0;
	margin: 0;
}

@font-face {
	src: url('./assets/Chalkboy.otf');
	font-family: 'CHalkboy';
}

#root {
	h1 {
		font-family: 'Chalkboy';
	}
}

body {
	font-family: 'Quicksand Variable', sans-serif;
}
