* {
	padding: 0;
	margin: 0;
}

@font-face {
	src: url('./assets/Chalkboy.otf');
	font-family: 'CHalkboy';
}

#root {
	h1 {
		font-family: 'Chalkboy', apple-system, BlinkMacSystemFont,
			'Segoe UI', Roboto, Arial, sans-serif;
		font-display: swap;
	}
}

body {
	font-family: 'Quicksand Variable', apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Arial, sans-serif;
	font-display: swap;
}


